/B4JWebApp/AutoBackups
/B4JWebApp/Objects/logs
/B4JWebApp/Objects/src
/B4JWebApp/Objects/B4RWebApp.jar
/B4JWebApp/Objects/moquette.log
/B4JWebApp/Objects/moquette_messages.log
/B4JWebApp/Objects/ObfuscatorMap.txt
/B4JWebApp/Objects/b4xlibs
/B4JWebApp/Objects/bin
/B4RCode/Objects
/B4RCode/AutoBackups
/B4RWebServer.zip
/B4RWebApp.zip
/B4JWebApp/Objects/shell
